## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Qaanaaq,GL,77.4840,-69.3632,-8.12,70,1,8.14,clear sky
1,1,Oktyabrskoye,RU,43.0645,44.7417,33.94,86,90,11.18,overcast clouds
2,2,Ixtapa,MX,20.7000,-105.2000,73.22,81,0,3.22,clear sky
3,3,Bredasdorp,ZA,-34.5322,20.0403,78.28,49,33,15.48,scattered clouds
4,4,Constantine,DZ,36.3650,6.6147,59.99,53,76,4.79,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Bredasdorp,ZA,-34.5322,20.0403,78.28,49,33,15.48,scattered clouds
5,5,Issia,CI,6.4922,-6.5856,89.82,52,86,2.98,overcast clouds
7,7,Balsas,BR,-7.5325,-46.0356,81.70,72,46,2.26,scattered clouds
8,8,Isangel,VU,-19.5500,169.2667,75.99,82,78,9.33,broken clouds
11,11,Manado,ID,1.4870,124.8455,79.57,94,20,1.14,few clouds
18,18,Olinda,BR,-8.0089,-34.8553,83.93,70,75,11.50,broken clouds
25,25,Hermanus,ZA,-34.4187,19.2345,78.80,64,35,17.40,scattered clouds
26,26,Bubaque,GW,11.2833,-15.8333,79.74,73,100,5.61,light rain
29,29,Mulatupo,PA,8.9492,-77.7652,77.72,85,99,0.38,overcast clouds
31,31,Atuona,PF,-9.8000,-139.0333,77.36,75,31,15.10,light rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             216
City                   216
Country                215
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,3,Bredasdorp,ZA,-34.5322,20.0403,78.28,49,33,15.48,scattered clouds
1,5,Issia,CI,6.4922,-6.5856,89.82,52,86,2.98,overcast clouds
2,7,Balsas,BR,-7.5325,-46.0356,81.70,72,46,2.26,scattered clouds
3,8,Isangel,VU,-19.5500,169.2667,75.99,82,78,9.33,broken clouds
4,11,Manado,ID,1.4870,124.8455,79.57,94,20,1.14,few clouds
...,...,...,...,...,...,...,...,...,...,...
210,707,Omboue,GA,-1.5746,9.2618,78.06,83,100,3.98,overcast clouds
211,711,Kourou,GF,5.1552,-52.6478,84.11,70,19,4.14,few clouds
212,712,Tamandare,BR,-8.7597,-35.1047,82.18,73,22,9.06,few clouds
213,715,Manadhoo,MV,5.7667,73.3833,82.31,78,13,19.37,few clouds
214,717,Coaraci,BR,-14.6408,-39.5511,81.84,68,65,3.56,broken clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bredasdorp,ZA,78.28,scattered clouds,-34.5322,20.0403,
5,Issia,CI,89.82,overcast clouds,6.4922,-6.5856,
7,Balsas,BR,81.70,scattered clouds,-7.5325,-46.0356,
8,Isangel,VU,75.99,broken clouds,-19.5500,169.2667,
11,Manado,ID,79.57,few clouds,1.4870,124.8455,
18,Olinda,BR,83.93,broken clouds,-8.0089,-34.8553,
25,Hermanus,ZA,78.80,scattered clouds,-34.4187,19.2345,
26,Bubaque,GW,79.74,light rain,11.2833,-15.8333,
29,Mulatupo,PA,77.72,overcast clouds,8.9492,-77.7652,
31,Atuona,PF,77.36,light rain,-9.8000,-139.0333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotel = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bredasdorp,ZA,78.28,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
5,Issia,CI,89.82,overcast clouds,6.4922,-6.5856,Résidence Hôtel Ange Anaé
7,Balsas,BR,81.70,scattered clouds,-7.5325,-46.0356,Novo Hotel
8,Isangel,VU,75.99,broken clouds,-19.5500,169.2667,Tanna Lodge
11,Manado,ID,79.57,few clouds,1.4870,124.8455,Aryaduta Hotel
...,...,...,...,...,...,...,...
707,Omboue,GA,78.06,overcast clouds,-1.5746,9.2618,Hotel Olako
711,Kourou,GF,84.11,few clouds,5.1552,-52.6478,Lodge TAKINI4 Guesthouse KOUROU FGU
712,Tamandare,BR,82.18,few clouds,-8.7597,-35.1047,Pousada 100 Passos
715,Manadhoo,MV,82.31,few clouds,5.7667,73.3833,Reason Inn
717,Coaraci,BR,81.84,broken clouds,-14.6408,-39.5511,Pousada Alternativa Coaraci

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,78.28,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
1,Issia,CI,89.82,overcast clouds,6.4922,-6.5856,Résidence Hôtel Ange Anaé
2,Balsas,BR,81.70,scattered clouds,-7.5325,-46.0356,Novo Hotel
3,Isangel,VU,75.99,broken clouds,-19.5500,169.2667,Tanna Lodge
4,Manado,ID,79.57,few clouds,1.4870,124.8455,Aryaduta Hotel
...,...,...,...,...,...,...,...
211,Omboue,GA,78.06,overcast clouds,-1.5746,9.2618,Hotel Olako
212,Kourou,GF,84.11,few clouds,5.1552,-52.6478,Lodge TAKINI4 Guesthouse KOUROU FGU
213,Tamandare,BR,82.18,few clouds,-8.7597,-35.1047,Pousada 100 Passos
214,Manadhoo,MV,82.31,few clouds,5.7667,73.3833,Reason Inn
215,Coaraci,BR,81.84,broken clouds,-14.6408,-39.5511,Pousada Alternativa Coaraci

In [12]:
# 8a. Create the output File (CSV)
city_data_df.to_csv('WeatherPy_Vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig
# Save the figure.

Figure(layout=FigureLayout(height='420px'))